ion-datetime{
    background: #fff;
    border-radius: 8px;
}

ion-content{
    --background: url('https://cdn.pixabay.com/photo/2019/09/22/16/21/clock-4496464_1280.png') no-repeat center/cover fixed;  
    

    
}