<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tasks/tabs/explore">
      </ion-back-button>
    </ion-buttons>

    <ion-title>Task details</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card class="ion-padding">
    <img [src]="task.imgUrl">
    <ion-card-header>
      <ion-card-title>{{task.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{task.description}}
    </ion-card-content>
  </ion-card>

</ion-content>