<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tasks">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Subjects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
  <ion-item>
    <ion-label>Inteligentini sistemi</ion-label>
    <ion-label>Broj ESPB poena: 6</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Internet tehnologije</ion-label>
    <ion-label>Broj ESPB poena: 6</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Projektovanje softvera</ion-label>
    <ion-label>Broj ESPB poena: 6</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Simulacije i simulaciona istrazivanja</ion-label>
    <ion-label>Broj ESPB poena: 6</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Osnove kvaliteta</ion-label>
    <ion-label>Broj ESPB poena: 6</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Projektovanje informacionih sistema</ion-label>
    <ion-label>Broj ESPB poena: 6</ion-label>
  </ion-item>
</ion-list>

<ion-content>
  <ion-buttons class="ion-justify-content-center">
    <ion-button routerLink="/tasks" color="tertiary" fill="solid">
      tasks
    </ion-button>
  </ion-buttons>
</ion-content>

