<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tasks">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Subjects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list >
  <ion-item color="light">
    <ion-thumbnail>
      <ion-img src="../assets/fon.jpg"></ion-img>
    </ion-thumbnail>
    <ion-label>Inteligentini sistemi</ion-label>
    <ion-label>ESPB: 6</ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail>
      <ion-img src="../assets/fon.jpg"></ion-img>
    </ion-thumbnail>
    <ion-label>Projektovanje softvera</ion-label>
    <ion-label>ESPB: 6</ion-label>
  </ion-item>
  <ion-item color="light">
    <ion-thumbnail>
      <ion-img src="../assets/fon.jpg"></ion-img>
    </ion-thumbnail>
    <ion-label>Simulacije i simulaciona istrazivanja</ion-label>
    <ion-label>ESPB: 6</ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail>
      <ion-img src="../assets/fon.jpg"></ion-img>
    </ion-thumbnail>
    <ion-label>Osnove kvaliteta</ion-label>
    <ion-label>ESPB: 5</ion-label>
  </ion-item>
  <ion-item color="light">
    <ion-thumbnail>
      <ion-img src="../assets/fon.jpg"></ion-img>
    </ion-thumbnail>
    <ion-label>Projektovanje informacionih sistema</ion-label>
    <ion-label>ESPB: 6</ion-label>
  </ion-item>
    <ion-item>
      <ion-thumbnail>
        <ion-img src="../assets/fon.jpg"></ion-img>
      </ion-thumbnail>
      <ion-label>Masinsko ucenje</ion-label>
      <ion-label>ESPB: 4</ion-label>
    </ion-item>
  <ion-item color="light">
    <ion-thumbnail>
      <ion-img src="../assets/fon.jpg"></ion-img>
    </ion-thumbnail>
    <ion-label>Mobilno racunarstvo</ion-label>
    <ion-label>ESPB: 4</ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail>
      <ion-img src="../assets/fon.jpg"></ion-img>
    </ion-thumbnail>
    <ion-label>Internet inteligentnih uredjaja</ion-label>
    <ion-label>ESPB: 4</ion-label>
  </ion-item>
</ion-list>

<ion-content>
  <ion-buttons class="ion-justify-content-center">
    <ion-button routerLink="/tasks" color="tertiary" fill="solid">
      tasks
    </ion-button>
  </ion-buttons>
</ion-content>

